h2 {
    text-align: center;
}
p {
    text-align: center;
    margin-top: 10%;
    margin-left: 15%;
    border-radius: 40px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    width: 500px;
    height: 600px;
}

#idStartButton {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    font-size: 16px;
    padding: 7px 15px;
}

#idIconImg {
    padding-top: 30%;
}